.App {
  text-align: center;
  background-image: url('/public/assets/bg-edit.png'); /* Pastikan path ini benar */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; /* Mengubah arah flex untuk membuat header berada di atas */
  justify-content: flex-start; /* Mengubah posisi konten untuk membuat header berada di atas */
  align-items: center;
  overflow: hidden; /* Menghilangkan scrollbar untuk mencegah scrolling */
}

.App-Header {
  width: 100%; /* Membuat header responsif terhadap lebar layar */
  padding: 20px; /* Menambahkan jarak antara header dan konten */
  background-color: rgba(255, 255, 255, 0.8); /* Menambahkan warna latar belakang untuk header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan untuk memberikan efek 3D */
  text-align: center; /* Mengatur teks untuk berada di tengah */
  font-size: 24px; /* Mengatur ukuran font untuk header */
  font-weight: bold; /* Mengatur font untuk tebal */
  color: #333; /* Mengatur warna teks untuk header */
  margin-bottom: 20px; /* Menambahkan jarak antara header dan konten */
}

/* Tambahkan media query untuk membuat tampilan responsif terhadap ukuran layar */
@media (max-width: 768px) {
  .App {
    height: 100vh; /* Mengubah tinggi App untuk responsif terhadap ukuran layar */
  }
  .App-Header {
    padding: 10px; /* Mengubah jarak untuk header pada ukuran layar kecil */
    font-size: 18px; /* Mengubah ukuran font untuk header pada ukuran layar kecil */
  }
}
